<div class="ambulance-card">
    <img src="~/images/ambulance-image.jpg" alt="Ambulance Image" class="ambulance-image">
    <div class="center-screen">
            <h2><span>QUICK AMBULANCE</span></h2>
    </div>
    <h1 class="app-title-text">GET <br> AMBULANCE <br> NOW</h1>
    <div class="app-btn-group">
        <a class="btn login-btn" asp-area="" asp-controller="Account" asp-action="Register">LOGIN</a>
        @* <a class="btn emergency-btn" asp-area="" asp-controller="Home" asp-action="Booking">EMERGENCY</a> *@
    </div>
</div>
